.wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;
    & h6 {
        color: rgba(108,117,125, 1);
        margin-bottom: 0.26rem;
        text-wrap: wrap;
        word-wrap: break-word;
    }
    & h5 {
        text-wrap: wrap;
        word-wrap: break-word; 
    }
}