.list-group {
    border: 1px solid var(--bs-list-group-border-color);
    padding: 1.25rem;
    & li {
        padding: 0.82rem 0;
        cursor: pointer;
    }

    .bi-person {
        font-size: 1.35em;
    }

    .list-group-item {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.list-active {
    font-weight: 500;
    color: var(--bs-green);
    border-bottom: 1px solid var(--bs-green) !important;
}

.wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;
    & h6 {
        color: rgba(108,117,125, 1);
        margin-bottom: 0.26rem;
        text-wrap: wrap;
        word-wrap: break-word;
    }
    & h5 {
        text-wrap: wrap;
        word-wrap: break-word; 
    }
}